# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment files
.env
*.env

# Editor directories
.vscode/
.idea/

# Node
node_modules/

.DS_Store
.env
apierrorcheck.py

.kilo

agents.md